@using DBClassLibrary.UserDomainLayer.MenuModel
@model BackendWeb.Controllers.MenuController.MenuFModel
@{
    ViewBag.Title = "群組功能選單設定";
    var groupList = ViewBag.GroupList as List<List<AppMenu>>;
}

@section header {

}

<h3>群組功能選單設定 : @ViewBag.RoleName</h3>

@using (Html.BeginForm("Role", "Menu", FormMethod.Post, new { @class = "", id = "formInput", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CheckedMenu)
    <div class="row">
        @foreach (var group in groupList)
        {
            <div class="panel-group col-md-5 col-md-offset-3">
                <table class="table table-bordered table-hover tw-menu-group">
                    @foreach (var menu in group)
                    {
                        <tr>
                            @if (menu.Type == AppMenuType.Category)
                            {
                                <th colspan="2" class="menu-group-header">
                                    @menu.Label
                                </th>
                            }
                            else
                            {
                                <th>
                                    @menu.Label
                                </th>
                                <td>
                                    <input id="Menu@(menu.Id)" type="checkbox" @(menu.Checked ? "checked" : "") data-toggle="toggle" data-onstyle="info" data-size="mini" data-on=" " data-off=" ">
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
    <div class="tw-block-btn">
        <input type="submit" class="btn btn-primary" value="確定" />
        @Html.ActionLink("取消", "Index", "Role", null, new { @class = "btn btn-default" })
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $(":submit").on("click", function () {
                var checkList = new Array();
                $(".tw-menu-group input:checked").each(function (index) {
                    checkList.push($(this).attr("id").substr(4));
                });

                $("#CheckedMenu").val(checkList.join(","));

                TW.blockUI();
            });
        });
    </script>
}

