
@{
    ViewBag.Title = "_ImpoundingInfo";
}

<link href="~/SCSS/Widget/_ImpoundingInfo/WidgetStyle.min.css" rel="stylesheet" />
<style>
    .wrwsr-panel {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

        .wrwsr-panel.sty2 .widget.e3 {
            background: white;
            width: 100%;
            min-height: 210px;
            border-radius: 10px;
            box-shadow: 0px 12px 20px rgba(14, 31, 53, 0.12);
        }
</style>

<div class="wrwsr-panel sty2 mb-3">
    <div class="widget e3 p-3 p-lg-3">
        <div class="wrwsr-container">
            <div class="wrwsr-header mt-3">
            </div>
            <div class="wrwsr-body d-flex">
                <div class="content-part d-flex flex-column flex-md-row">
                    <div class="col-12 col-md-4 d-flex flex-row flex-md-column">
                        <div class="title-part d-flex  mb-0 mb-md-3 flex-grow-1 col-md-12  align-items-center">
                            <div class="icon-part pe-1 ps-1">
                                @Html.Partial("~/Views/Partial/SVG/_WaterDrop.cshtml")
                            </div>
                            <div class="text-part">
                                <div class="main-title">埤塘蓄水</div>
                                <div class="sub-title"></div>
                            </div>
                        </div>
                        <div class="mobile-link  mobile-on-block">
                            <div class="link-part">
                                <a href="/Reservoir/ImpoundingInfo" class="link-btn">
                                    @Html.Partial("~/Views/Partial/SVG/_OutLink.cshtml")
                                </a>
                            </div>
                        </div>
                        <div class="info-part m-2 mobile-off">
                            <div class="info-group ms-3 me-3 pt-2 pb-2">
                                <div class="info-block">
                                    <div class="block-title">總蓄水量</div>
                                    <div id="total_water" class="block-value"><span>3550</span><span>/萬噸</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrwsr-gague-part col-md-7 col-12 d-flex">
                        @*<div class="wrwsr-gague-group col-6 d-flex flex-column align-items-center">
                            <div class="wrwsr-gague mb-1">
                                @Html.Partial("~/Views/Partial/SVG/_WaterGague.cshtml")
                            </div>
                            <div>
                                <div class="title">桃園管理處</div>
                                <div class="sub-title">更新時間：111-10-31</div>
                            </div>
                        </div>
                        <div class="wrwsr-gague-group col-6 d-flex flex-column align-items-center">
                            <div class="wrwsr-gague mb-1">
                                @Html.Partial("~/Views/Partial/SVG/_WaterGague.cshtml")
                            </div>
                            <div>
                                <div class="title">桃園管理處</div>
                                <div class="sub-title">更新時間：111-10-31</div>
                            </div>
                        </div>*@
                    </div>
                    <div class="col-12 mobile-on-block">
                        <div class="info-part m-2">
                            <div class="info-group ms-3 me-3 pt-2 pb-2">
                                <div class="info-block">
                                    <div class="block-title">總蓄水量</div>
                                    <div id="total_water" class="block-value"><span>3550</span><span>/萬噸</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 mobile-off">
                        <div class="link-part">
                            <a href="/Reservoir/ImpoundingInfo" class="link-btn">
                                @Html.Partial("~/Views/Partial/SVG/_OutLink.cshtml")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrwsr-footer">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Widget/_ImpoundingInfo/WidgetScript.js"></script>