@using PagedList;
@using PagedList.Mvc;
@using DBClassLibrary.DomainLayer.UserModel
@model IEnumerable<UserData>
@{
    ViewBag.Title = "鎖定使用者名單";
}


<h3>鎖定使用者列表 :</h3>

<table class="table table-bordered table-hover table-striped table-responsive">
    <tr>
        <th>
            帳號
        </th>
        <th>
            姓名
        </th>
        <th>
            電子信箱
        </th>
        <th width="200px">
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </th>
        <th width="100px">
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th width="120px">
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>
        <th width="100px">功能</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td data-th="@Html.DisplayNameFor(model => model.UserName)">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.RealName)">
                @Html.DisplayFor(modelItem => item.RealName)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.Email)">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.LockoutEndDateUtc)">
                @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.LockoutEnabled)">
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.AccessFailedCount)">
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td data-th="Action">
                @Html.ActionLink("解除鎖定", "UnLockoutAccount", "User", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("LockoutList", new { page }))

