@using PagedList;
@using PagedList.Mvc;
@using DBClassLibrary.DomainLayer.UserModel
@model IEnumerable<UserData>
@{
    ViewBag.Title = "新註冊使用者名單";
}

<h3>新註冊使用者列表 :</h3>

<table class="table table-bordered table-hover table-striped table-responsive">
    <tr>
        <th>
            帳號
        </th>
        <th>
            姓名
        </th>
        <th>
            電子信箱
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsList)
        </th>
        <th width="200px">功能</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td data-th="@Html.DisplayNameFor(model => model.UserName)">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.RealName)">
                @Html.DisplayFor(modelItem => item.RealName)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.Email)">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.UnitsList)">
                @foreach (var UnitItem in item.UnitsList)
                {
                    @(UnitItem.UnitName + (string.IsNullOrEmpty(item.SubUnit) ? "" : "-" + item.SubUnit)) <br />
                }
            </td>
            <td data-th="Action">
                <a class="operate-pass" href="#" user-id="@item.Id" user-name="@item.UserName" real-name="@item.RealName">申請通過</a> |
                <a class="operate-reject" href="#" user-id="@item.Id" user-name="@item.UserName" real-name="@item.RealName">申請不通過</a>
            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

@using (Html.BeginForm("RegisterList", "User", FormMethod.Post, new { @class = "", id = "formInput", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="UserId" name="UserId" value="" />
    <input type="hidden" id="Pass" name="Pass" value="" />
    <div class="modal fade modal-register" id="modalRegister" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span id="titleOperate">新註冊使用者申請作業</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group">
                        <div id="pnlPass" class="panel panel-primary">
                            <div class="panel-body">
                                <div class="alert alert-info text-center">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span id="msgPass">確定通過使用者 [ ] 之註冊申請 ？</span>
                                </div>
                            </div>
                        </div>
                        <div id="pnlReject" class="panel panel-danger">
                            <div class="panel-body">
                                <div class="alert alert-danger text-center">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <span id="msgReject">確定不通過使用者 [ ] 之註冊申請 ？</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="確定" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/View/UserRegisterList.js?v=2"></script>
}